@charset "UTF-8";

:root{                                 /* :root{} aplica para todos os elementos */
    font-family: Alice, serif;
    line-height: 150%;
    color: #573A37;
}
body{
    background-image: url(assets/fundo.jpg);
    background-size: cover;  /*Para a imagem não ficar repetindo*/
}

#page{
    background-color: #F0E8C2;
    padding: 24px;
    width: 800px;
    border-radius: 24px;
    margin: 48px auto;
    box-sizing: border-box;
    text-align: left;
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{
    font-size: 24px;
}

h1, h2{
    color: #291B1A;
}


